
   

div{
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100%;
}
form{
    margin-top:7%;
    text-align:center

}
button{
    background-color:slateblue;
    
}
H2{
    text-align:center;
    margin-top: 5%;
}
